/*
Arquivos de CSS(Cascade Style Sheet-Folha de estilo em cascata)
são utilizados para formatar páginas html. Enquanto as
páginas criam a estrutura de um site, o css, por sua vez, realiza
a formatação do conteúdo em html
*/

h1 {
  font-family: "arial";
  font-size: 15pt; /*O tamanho da letra. pt -> pontos|mesmo do word*/
  color: blue; /*cor da letra*/
  text-align: "center"; /*alinhar o texto ao centro*/
}

img {
  width: 500px; /*Largura*/
  height: 600px; /*Altura da Imagem*/
  opacity: 1; /*Efeito de Transparência em 50% */
  transition: ease 1s; /* Efeito para arredondar a imagem em 1 segundo você pode alterar do seu jeito */
}

/*Hover = quando vc passar o  ponteiro mouse por cima da imagem */

img:hover {
  transform: rotate(360deg); /*rotacionar em 360 graus */
  opacity: 1;
  border-radius: 100px; /*Arredondaros cantos da Imagem*/
}

p {
  font-family: "arial";
  font-size: 10pt;
  text-align: "justify";
}
